/**************
* LOGIN POPUP *
**************/
#click_shield
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(128, 128, 128);
	background-color: rgba(128, 128, 128, .75);
	text-align: center;
	padding-top: 5em;
}

#login_popup
{
	border: 2px solid black;
	display: inline-block;
	padding: 5em;
	background-color: white;
	border-radius: 2em;
}

/*******
* AJAX *
*******/
.loading
{
	max-width: 200px;
}

/******************
* ADD ITEM POPUPS *
******************/
.popup_casing
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	background-color: rgba(255, 255, 0, 0.3);
	text-align: center;
	padding: 1em;
	z-index: 1;
}

.popup_casing:empty
{
	display: none;
}

.popup_casing>div
{
	border: 2px solid black;
	display: inline-block;
	padding: 1em;
	background-color: white;
	border-radius: 2em;
	overflow-y: auto;
	max-height: calc(100vh - 4em);
	min-height: 50%;
	min-width: 33%;
	max-width: 75vw;
}

.popup_casing>.popup_close
{
	background-color: red;
	vertical-align: top;
	padding: .25em;
	cursor: pointer;
	color: white;
	right: 3em;
	font-weight: bold;
	position: relative;
	border: white 2px solid;
	border-radius: 1em;
}

.popup_casing>.popup_box p
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 45em;
	line-height: 120%;
	text-indent: 2em;
}

.popup_casing>.popup_box h4
{
	border-bottom: 1px solid black;
}

/***************
* AUTOCOMPLETE *
***************/
.auto_complete_box
{
	position: absolute;
	width: 10em;
	border: 2px solid black;
	border-radius: 0 .5em .5em;
}

.auto_complete_box>span
{
	background-color: white;
	text-align: center;
	border-radius: calc(.5em - 2px);
	border-top-left-radius: 0;
	display: block;
	padding: .25em;
}

.auto_complete_box>span img
{
	max-height: 2em;
}

.auto_complete_box:empty
{
	display: none;
}

.auto_complete_box a:first-child
{
	border-top-right-radius: calc(.5em - 2px);
}

.auto_complete_box a:last-child
{
	border-bottom-left-radius: calc(.5em - 2px);
	border-bottom-right-radius: calc(.5em - 2px);
}

.auto_complete_box>a
{
	display: block;
	padding: .25em .5em;
	color: black;
}

.auto_complete_box a:nth-child(odd)
{
	background-color: #ccc;
}

.auto_complete_box a:nth-child(even)
{
	background-color: #777;
}

form ul li input.set
{
	background-color: #bfc;
}

.auto_complete_box a:hover
{
	text-decoration: none;
}

.auto_complete_box #auto_complete_selected
{
	background: #444;
	text-decoration: underline;
}

.auto_complete_box a:active
{
	background: #222;
	color: #999;
}

.auto_complete_box a span
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1em;
}

.auto_complete_box a .title
{
	font-weight: bold;
}

.auto_complete_box a .subtitle
{
	font-style: italic;
}

.auto_complete_box .add_message
{
	font-weight: bold;
	text-align: center;
}

.auto_complete_default
{
	display: none;
}

/*********
* SEARCH *
*********/
#ajax_search label::after
{
	content: ":";
}

.search_results
{
	margin-top: 1em;
}

.page_nav
{
	margin-bottom: 1em;
}

.page_nav:last-child
{
	margin-top: 1em;
	margin-bottom: 0;
}

.page_nav .selected_page
{
	color: black;
	text-decoration: underline;
	cursor: default;
}

.page_nav a
{
	vertical-align: top;
	display: inline-block;
}

.page_nav .forward_arrow,
.page_nav .back_arrow
{
	font-size: 1.5em;
	margin-top: -.25em;
	text-decoration: none;
}

.page_nav .view_all
{
	display: block;
	width: 4em;
	margin: 0 auto;
}

.page_nav .invalid
{
	visibility: hidden;
}
