/********
* LISTS *
********/
#content .block_list
{
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	margin: 0
}

.block_list li
{
	display: inline-block;
	margin: 0 auto .5em;
	text-align: left;
	white-space: nowrap;
}

.block_list .spacer
{
	visibility: hidden;
}

.view_all .block_list .spacer
{
	display: none;
}

.block_list li div
{
	width: 24em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.block_list li div,
.block_list li a
{
	display: inline-block;
	border: black solid 2px;
	vertical-align: top;
	height: 2em;
	padding: .3em;
	border-radius: .125em;
}

.block_list li .booked_facilitator
{
	width: 18em;
}

.block_list li .student_group
{
	display: block;
	width: 16em;
	height: inherit;
	margin-left: 1em;
	border-top: none;
	border-radius: 0 0 10em 1em;
	padding-bottom: .2em;
}

.block_list li .student_group span
{
	text-decoration: underline;
	float: none;
}

.block_list li div span
{
	display: block;
	clear: both;
	float: left;
}

.block_list li div span.time
{
	clear: none;
	float: right;
	text-decoration: underline;
}

.block_list li div span.name,
.block_list li div span.professor_name,
.block_list li div span.course
{
	font-style: italic;
}

.block_list li div span.id,
.block_list li div span.course_code,
.block_list li div span.student,
.block_list li div span.crn,
.block_list li div span.email
{
	font-weight: bold;
}

.block_list li div span.role
{
	text-decoration: underline;
}

.block_list li a
{
	margin-left: .5em;
	color: black;
	text-align: center;
}

.block_list li a.edit
{
	background-color: #B8B8FF;
}

.block_list li a.email
{
	background-color: #FFA950;
}

.block_list li a.password
{
	background-color: #A3DDFF;
}

.block_list li a.schedule
{
	background-color: #82FD7A;
}

.block_list li a.add
{
	background-color: #FFA4A4;
}

.block_list li a.quick
{
	background-color: #C6F536;
}

.room_list
{
	display: inline-block;
	width: 45%;
	font-size: 1.17em;
	font-weight: bold;
}

.room_list ul
{
	font-size: .85em;
	font-weight: normal;
}

.room_list ul li
{
	display: inline-block;
	text-decoration: underline;
	margin-right: .25em;
}

#registered_courses
{
	padding: 0 3em;
}

#registered_courses li
{
	clear: both;
}

#registered_courses span,
#registered_courses a
{
	display: inline-block;
}

#registered_courses span.crn
{
	width: 4em;
	font-style: italic;
}

#registered_courses span.course_code
{
	width: 6em;
	text-decoration: underline;
}

#registered_courses span.course_name
{
	font-weight: bold;
}

#registered_courses span.professor,
#registered_courses a
{
	float: right;
}

#registered_courses a
{
	font-weight: bold;
	margin-left: 1em;
}
