/***********
* SCHEDULE *
***********/
.timetable
{
	margin: 0 auto;
	border-collapse: collapse;
}

.timetable tr:not(:last-child) td,
.timetable th:not(:first-child)
{
	border: 1px solid black;
	min-width: 6.75em;
	vertical-align: top;
	text-align: left;
	background-color: white;
	padding: .15em;
}

.timetable th:not(:first-child)
{
	background-color: #D6D6FF;
}

.timetable td:not(:first-child)>*
{
	display: block;
}

.timetable td:not(:first-child)>.students
{
	padding-left: 1em;
	margin: .25em 0;
	font-size: small;
}

.timetable td:not(:first-child)>a
{
	margin-left: .5em;
	font-size: small;
}

.timetable tr td:first-child,
.timetable tr th:first-child
{
	min-width: 4.5em;
	text-decoration: underline;
	text-align: right;
	/*83x54*/
}

.timetable tr:last-child td
{
	text-align: left;
}

.timetable tr td:empty
{
	background-color: #E2E2E2;
}

.timetable tr td.new_item
{
	background-color: #ff7;
	color: #333;
}

.timetable_error li
{
	padding-left: 1em;
}

.timetable_error li span.time
{
	display: block;
	margin: .5em -1em .25em;
}

.timetable_error li span.time::after
{
	content: ":";
}

.timetable_error li span:not(:first-child)
{
	margin-right: .25ex;
}

.timetable_error li span.course_code
{
	font-weight: bold;
}

.timetable_error li span.course_rn
{
	text-decoration: underline;
}

.timetable_error li span.room_number
{
	font-style: italic;
}

.timetable_error li span.campus_name
{
	display: none;
}

.timetable_error li span.course_rn::before
{
	content: "(";
}

.timetable_error li span.course_rn::after
{
	content: ")";
}
