/***********
* SCHEDULE *
***********/
table.schedule
{
	margin: 0 auto;
	border-collapse: collapse;
}

table.schedule tr:not(:last-child) td,
table.schedule th:not(:first-child)
{
	border: 1px solid black;
	min-width: 6.75em;
	vertical-align: top;
	text-align: left;
	background-color: white;
	padding: .15em;
}

table.schedule th:not(:first-child)
{
	background-color: #D6D6FF;
}

table.schedule td:not(:first-child)>*
{
	display: block;
}

table.schedule td:not(:first-child)>*.students
{
	padding-left: 1em;
	margin: .25em 0;
	font-size: small;
}

table.schedule td:not(:first-child)>a
{
	margin-left: .5em;
	font-size: small;
}

table.schedule td:first-child,
table.schedule th:first-child
{
	min-width: 4.5em !important;
	text-decoration: underline;
	text-align: right !important;
	/*83x54*/
}

table.schedule tr:last-child td
{
	text-align: left;
}

table.schedule td:empty
{
	background-color: #E2E2E2 !important;
}

table.schedule td.new_item
{
	background-color: #ff7 !important;
	color: #333;
}

.timetable_error li
{
	padding-left: 1em;
}

.timetable_error li span.time
{
	display: block;
	margin: .5em -1em .25em;
}

.timetable_error li span.time::after
{
	content: ":";
}

.timetable_error li span:not(:first-child)
{
	margin-right: .25ex;
}

.timetable_error li span.course_code
{
	font-weight: bold;
}

.timetable_error li span.course_rn
{
	text-decoration: underline;
}

.timetable_error li span.room_number
{
	font-style: italic;
}

.timetable_error li span.campus_name
{
	display: none;
}

.timetable_error li span.course_rn::before
{
	content: "(";
}

.timetable_error li span.course_rn::after
{
	content: ")";
}
